{
  "info": {
    "title": "API Dédale",
    "version": "1.0.0",
    "description": "API publique de Dédale, la plateforme des histoires dont vous tenez le fil. Le catalogue est accessible sans authentification ; les autres routes utilisent la session (cookie) ou un jeton porteur.",
    "contact": {
      "name": "Équipe Dédale",
      "url": "https://dedale.app"
    },
    "license": {
      "name": "Propriétaire"
    }
  },
  "servers": [
    {
      "url": "https://api.dedale.app/api/v1"
    }
  ],
  "openapi": "3.1.1",
  "paths": {
    "/catalog/home": {
      "get": {
        "operationId": "catalog.home",
        "summary": "Page d'accueil éditoriale",
        "tags": [
          "Catalogue"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "featured": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "slug": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 96,
                              "pattern": "^[a-z0-9]+(?:-[a-z0-9]+)*$"
                            },
                            "title": {
                              "type": "string"
                            },
                            "tagline": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "coverUrl": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "genres": {
                              "type": "array",
                              "items": {
                                "enum": [
                                  "fantasy",
                                  "mystery",
                                  "thriller",
                                  "romance",
                                  "science-fiction",
                                  "horror",
                                  "adventure",
                                  "youth",
                                  "drama",
                                  "historical",
                                  "poetry",
                                  "experimental"
                                ],
                                "type": "string"
                              }
                            },
                            "language": {
                              "type": "string"
                            },
                            "ageRating": {
                              "enum": [
                                "10",
                                "13",
                                "16",
                                "all"
                              ],
                              "type": "string"
                            },
                            "access": {
                              "enum": [
                                "free",
                                "premium",
                                "paid"
                              ],
                              "type": "string"
                            },
                            "priceCents": {
                              "anyOf": [
                                {
                                  "type": "integer",
                                  "minimum": -9007199254740991,
                                  "maximum": 9007199254740991
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "author": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "handle": {
                                  "type": "string",
                                  "minLength": 3,
                                  "maxLength": 30,
                                  "pattern": "^[a-z0-9](?:[a-z0-9_]*[a-z0-9])?$"
                                },
                                "displayName": {
                                  "type": "string"
                                },
                                "avatarUrl": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                }
                              },
                              "required": [
                                "id",
                                "handle",
                                "displayName",
                                "avatarUrl"
                              ]
                            },
                            "stats": {
                              "type": "object",
                              "properties": {
                                "rating": {
                                  "anyOf": [
                                    {
                                      "type": "number",
                                      "minimum": 0,
                                      "maximum": 5
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "ratingCount": {
                                  "type": "integer",
                                  "minimum": -9007199254740991,
                                  "maximum": 9007199254740991
                                },
                                "reads": {
                                  "type": "integer",
                                  "minimum": -9007199254740991,
                                  "maximum": 9007199254740991
                                },
                                "endings": {
                                  "type": "integer",
                                  "minimum": -9007199254740991,
                                  "maximum": 9007199254740991
                                },
                                "minutes": {
                                  "type": "integer",
                                  "minimum": -9007199254740991,
                                  "maximum": 9007199254740991
                                },
                                "difficulty": {
                                  "enum": [
                                    "gentle",
                                    "balanced",
                                    "challenging",
                                    "brutal"
                                  ],
                                  "type": "string"
                                }
                              },
                              "required": [
                                "rating",
                                "ratingCount",
                                "reads",
                                "endings",
                                "minutes",
                                "difficulty"
                              ]
                            },
                            "publishedAt": {
                              "anyOf": [
                                {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          },
                          "required": [
                            "id",
                            "slug",
                            "title",
                            "tagline",
                            "coverUrl",
                            "genres",
                            "language",
                            "ageRating",
                            "access",
                            "priceCents",
                            "author",
                            "stats",
                            "publishedAt"
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "rails": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "key": {
                            "enum": [
                              "trending",
                              "new",
                              "staff-picks",
                              "short",
                              "youth",
                              "premium"
                            ],
                            "type": "string"
                          },
                          "stories": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "format": "uuid"
                                },
                                "slug": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 96,
                                  "pattern": "^[a-z0-9]+(?:-[a-z0-9]+)*$"
                                },
                                "title": {
                                  "type": "string"
                                },
                                "tagline": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "coverUrl": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "genres": {
                                  "type": "array",
                                  "items": {
                                    "enum": [
                                      "fantasy",
                                      "mystery",
                                      "thriller",
                                      "romance",
                                      "science-fiction",
                                      "horror",
                                      "adventure",
                                      "youth",
                                      "drama",
                                      "historical",
                                      "poetry",
                                      "experimental"
                                    ],
                                    "type": "string"
                                  }
                                },
                                "language": {
                                  "type": "string"
                                },
                                "ageRating": {
                                  "enum": [
                                    "10",
                                    "13",
                                    "16",
                                    "all"
                                  ],
                                  "type": "string"
                                },
                                "access": {
                                  "enum": [
                                    "free",
                                    "premium",
                                    "paid"
                                  ],
                                  "type": "string"
                                },
                                "priceCents": {
                                  "anyOf": [
                                    {
                                      "type": "integer",
                                      "minimum": -9007199254740991,
                                      "maximum": 9007199254740991
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "author": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "handle": {
                                      "type": "string",
                                      "minLength": 3,
                                      "maxLength": 30,
                                      "pattern": "^[a-z0-9](?:[a-z0-9_]*[a-z0-9])?$"
                                    },
                                    "displayName": {
                                      "type": "string"
                                    },
                                    "avatarUrl": {
                                      "anyOf": [
                                        {
                                          "type": "string"
                                        },
                                        {
                                          "type": "null"
                                        }
                                      ]
                                    }
                                  },
                                  "required": [
                                    "id",
                                    "handle",
                                    "displayName",
                                    "avatarUrl"
                                  ]
                                },
                                "stats": {
                                  "type": "object",
                                  "properties": {
                                    "rating": {
                                      "anyOf": [
                                        {
                                          "type": "number",
                                          "minimum": 0,
                                          "maximum": 5
                                        },
                                        {
                                          "type": "null"
                                        }
                                      ]
                                    },
                                    "ratingCount": {
                                      "type": "integer",
                                      "minimum": -9007199254740991,
                                      "maximum": 9007199254740991
                                    },
                                    "reads": {
                                      "type": "integer",
                                      "minimum": -9007199254740991,
                                      "maximum": 9007199254740991
                                    },
                                    "endings": {
                                      "type": "integer",
                                      "minimum": -9007199254740991,
                                      "maximum": 9007199254740991
                                    },
                                    "minutes": {
                                      "type": "integer",
                                      "minimum": -9007199254740991,
                                      "maximum": 9007199254740991
                                    },
                                    "difficulty": {
                                      "enum": [
                                        "gentle",
                                        "balanced",
                                        "challenging",
                                        "brutal"
                                      ],
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "rating",
                                    "ratingCount",
                                    "reads",
                                    "endings",
                                    "minutes",
                                    "difficulty"
                                  ]
                                },
                                "publishedAt": {
                                  "anyOf": [
                                    {
                                      "type": "string",
                                      "format": "date-time"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                }
                              },
                              "required": [
                                "id",
                                "slug",
                                "title",
                                "tagline",
                                "coverUrl",
                                "genres",
                                "language",
                                "ageRating",
                                "access",
                                "priceCents",
                                "author",
                                "stats",
                                "publishedAt"
                              ]
                            }
                          }
                        },
                        "required": [
                          "key",
                          "stories"
                        ]
                      }
                    },
                    "genres": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "genre": {
                            "enum": [
                              "fantasy",
                              "mystery",
                              "thriller",
                              "romance",
                              "science-fiction",
                              "horror",
                              "adventure",
                              "youth",
                              "drama",
                              "historical",
                              "poetry",
                              "experimental"
                            ],
                            "type": "string"
                          },
                          "count": {
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991
                          }
                        },
                        "required": [
                          "genre",
                          "count"
                        ]
                      }
                    },
                    "totals": {
                      "type": "object",
                      "properties": {
                        "stories": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "authors": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "reads": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        }
                      },
                      "required": [
                        "stories",
                        "authors",
                        "reads"
                      ]
                    }
                  },
                  "required": [
                    "featured",
                    "rails",
                    "genres",
                    "totals"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": true
                        },
                        "code": {
                          "const": "UNAUTHORIZED"
                        },
                        "status": {
                          "const": 401
                        },
                        "message": {
                          "type": "string",
                          "default": "Authentification requise"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": false
                        },
                        "code": {
                          "type": "string"
                        },
                        "status": {
                          "type": "number"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": true
                        },
                        "code": {
                          "const": "FORBIDDEN"
                        },
                        "status": {
                          "const": 403
                        },
                        "message": {
                          "type": "string",
                          "default": "Action non autorisée"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": false
                        },
                        "code": {
                          "type": "string"
                        },
                        "status": {
                          "type": "number"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": true
                        },
                        "code": {
                          "const": "NOT_FOUND"
                        },
                        "status": {
                          "const": 404
                        },
                        "message": {
                          "type": "string",
                          "default": "Ressource introuvable"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": false
                        },
                        "code": {
                          "type": "string"
                        },
                        "status": {
                          "type": "number"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "429",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": true
                        },
                        "code": {
                          "const": "TOO_MANY_REQUESTS"
                        },
                        "status": {
                          "const": 429
                        },
                        "message": {
                          "type": "string",
                          "default": "Trop de requêtes, réessayez plus tard"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": false
                        },
                        "code": {
                          "type": "string"
                        },
                        "status": {
                          "type": "number"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/stories": {
      "get": {
        "operationId": "catalog.list",
        "summary": "Rechercher et parcourir les récits",
        "tags": [
          "Catalogue"
        ],
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 200
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 20
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 100
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "genre",
            "in": "query",
            "schema": {
              "enum": [
                "fantasy",
                "mystery",
                "thriller",
                "romance",
                "science-fiction",
                "horror",
                "adventure",
                "youth",
                "drama",
                "historical",
                "poetry",
                "experimental"
              ],
              "type": "string"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "language",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 12
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "maxAgeRating",
            "in": "query",
            "schema": {
              "enum": [
                "10",
                "13",
                "16",
                "all"
              ],
              "type": "string"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "access",
            "in": "query",
            "schema": {
              "enum": [
                "free",
                "premium",
                "paid"
              ],
              "type": "string"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "enum": [
                "trending",
                "new",
                "top",
                "short"
              ],
              "type": "string",
              "default": "trending"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          },
          {
            "name": "author",
            "in": "query",
            "schema": {
              "type": "string",
              "minLength": 3,
              "maxLength": 30,
              "pattern": "^[a-z0-9](?:[a-z0-9_]*[a-z0-9])?$"
            },
            "allowEmptyValue": true,
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "slug": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 96,
                            "pattern": "^[a-z0-9]+(?:-[a-z0-9]+)*$"
                          },
                          "title": {
                            "type": "string"
                          },
                          "tagline": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "coverUrl": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "genres": {
                            "type": "array",
                            "items": {
                              "enum": [
                                "fantasy",
                                "mystery",
                                "thriller",
                                "romance",
                                "science-fiction",
                                "horror",
                                "adventure",
                                "youth",
                                "drama",
                                "historical",
                                "poetry",
                                "experimental"
                              ],
                              "type": "string"
                            }
                          },
                          "language": {
                            "type": "string"
                          },
                          "ageRating": {
                            "enum": [
                              "10",
                              "13",
                              "16",
                              "all"
                            ],
                            "type": "string"
                          },
                          "access": {
                            "enum": [
                              "free",
                              "premium",
                              "paid"
                            ],
                            "type": "string"
                          },
                          "priceCents": {
                            "anyOf": [
                              {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "author": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "handle": {
                                "type": "string",
                                "minLength": 3,
                                "maxLength": 30,
                                "pattern": "^[a-z0-9](?:[a-z0-9_]*[a-z0-9])?$"
                              },
                              "displayName": {
                                "type": "string"
                              },
                              "avatarUrl": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "handle",
                              "displayName",
                              "avatarUrl"
                            ]
                          },
                          "stats": {
                            "type": "object",
                            "properties": {
                              "rating": {
                                "anyOf": [
                                  {
                                    "type": "number",
                                    "minimum": 0,
                                    "maximum": 5
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "ratingCount": {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              },
                              "reads": {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              },
                              "endings": {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              },
                              "minutes": {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              },
                              "difficulty": {
                                "enum": [
                                  "gentle",
                                  "balanced",
                                  "challenging",
                                  "brutal"
                                ],
                                "type": "string"
                              }
                            },
                            "required": [
                              "rating",
                              "ratingCount",
                              "reads",
                              "endings",
                              "minutes",
                              "difficulty"
                            ]
                          },
                          "publishedAt": {
                            "anyOf": [
                              {
                                "type": "string",
                                "format": "date-time"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "slug",
                          "title",
                          "tagline",
                          "coverUrl",
                          "genres",
                          "language",
                          "ageRating",
                          "access",
                          "priceCents",
                          "author",
                          "stats",
                          "publishedAt"
                        ]
                      }
                    },
                    "nextCursor": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "required": [
                    "items",
                    "nextCursor"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": true
                        },
                        "code": {
                          "const": "UNAUTHORIZED"
                        },
                        "status": {
                          "const": 401
                        },
                        "message": {
                          "type": "string",
                          "default": "Authentification requise"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": false
                        },
                        "code": {
                          "type": "string"
                        },
                        "status": {
                          "type": "number"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": true
                        },
                        "code": {
                          "const": "FORBIDDEN"
                        },
                        "status": {
                          "const": 403
                        },
                        "message": {
                          "type": "string",
                          "default": "Action non autorisée"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": false
                        },
                        "code": {
                          "type": "string"
                        },
                        "status": {
                          "type": "number"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": true
                        },
                        "code": {
                          "const": "NOT_FOUND"
                        },
                        "status": {
                          "const": 404
                        },
                        "message": {
                          "type": "string",
                          "default": "Ressource introuvable"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": false
                        },
                        "code": {
                          "type": "string"
                        },
                        "status": {
                          "type": "number"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "429",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": true
                        },
                        "code": {
                          "const": "TOO_MANY_REQUESTS"
                        },
                        "status": {
                          "const": 429
                        },
                        "message": {
                          "type": "string",
                          "default": "Trop de requêtes, réessayez plus tard"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": false
                        },
                        "code": {
                          "type": "string"
                        },
                        "status": {
                          "type": "number"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/stories/{slug}": {
      "get": {
        "operationId": "catalog.story",
        "summary": "Fiche d'un récit",
        "tags": [
          "Catalogue"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 96,
              "pattern": "^[a-z0-9]+(?:-[a-z0-9]+)*$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "slug": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 96,
                      "pattern": "^[a-z0-9]+(?:-[a-z0-9]+)*$"
                    },
                    "title": {
                      "type": "string"
                    },
                    "tagline": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "coverUrl": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "genres": {
                      "type": "array",
                      "items": {
                        "enum": [
                          "fantasy",
                          "mystery",
                          "thriller",
                          "romance",
                          "science-fiction",
                          "horror",
                          "adventure",
                          "youth",
                          "drama",
                          "historical",
                          "poetry",
                          "experimental"
                        ],
                        "type": "string"
                      }
                    },
                    "language": {
                      "type": "string"
                    },
                    "ageRating": {
                      "enum": [
                        "10",
                        "13",
                        "16",
                        "all"
                      ],
                      "type": "string"
                    },
                    "access": {
                      "enum": [
                        "free",
                        "premium",
                        "paid"
                      ],
                      "type": "string"
                    },
                    "priceCents": {
                      "anyOf": [
                        {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "author": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "handle": {
                          "type": "string",
                          "minLength": 3,
                          "maxLength": 30,
                          "pattern": "^[a-z0-9](?:[a-z0-9_]*[a-z0-9])?$"
                        },
                        "displayName": {
                          "type": "string"
                        },
                        "avatarUrl": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "handle",
                        "displayName",
                        "avatarUrl"
                      ]
                    },
                    "stats": {
                      "type": "object",
                      "properties": {
                        "rating": {
                          "anyOf": [
                            {
                              "type": "number",
                              "minimum": 0,
                              "maximum": 5
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "ratingCount": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "reads": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "endings": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "minutes": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "difficulty": {
                          "enum": [
                            "gentle",
                            "balanced",
                            "challenging",
                            "brutal"
                          ],
                          "type": "string"
                        }
                      },
                      "required": [
                        "rating",
                        "ratingCount",
                        "reads",
                        "endings",
                        "minutes",
                        "difficulty"
                      ]
                    },
                    "publishedAt": {
                      "anyOf": [
                        {
                          "type": "string",
                          "format": "date-time"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "synopsis": {
                      "type": "string"
                    },
                    "license": {
                      "enum": [
                        "all-rights-reserved",
                        "cc-by",
                        "cc-by-sa",
                        "cc-by-nc",
                        "cc-by-nc-sa",
                        "cc0"
                      ],
                      "type": "string"
                    },
                    "aiUsage": {
                      "enum": [
                        "none",
                        "assisted",
                        "generated"
                      ],
                      "type": "string"
                    },
                    "contentWarnings": {
                      "type": "array",
                      "items": {
                        "enum": [
                          "violence",
                          "death",
                          "fear",
                          "grief",
                          "self-harm",
                          "addiction",
                          "discrimination"
                        ],
                        "type": "string"
                      }
                    },
                    "tags": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "version": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "number": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "publishedAt": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "number",
                        "publishedAt"
                      ]
                    },
                    "details": {
                      "type": "object",
                      "properties": {
                        "passages": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "words": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "achievements": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "endingsByKind": {
                          "type": "object",
                          "propertyNames": {
                            "enum": [
                              "victory",
                              "defeat",
                              "death",
                              "neutral",
                              "secret"
                            ],
                            "type": "string"
                          },
                          "additionalProperties": {
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991
                          }
                        },
                        "failureRate": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "passages",
                        "words",
                        "achievements",
                        "endingsByKind",
                        "failureRate"
                      ]
                    },
                    "ratingDistribution": {
                      "type": "array",
                      "minItems": 5,
                      "maxItems": 5,
                      "items": {
                        "type": "integer",
                        "minimum": -9007199254740991,
                        "maximum": 9007199254740991
                      }
                    },
                    "entitlement": {
                      "type": "object",
                      "properties": {
                        "canRead": {
                          "type": "boolean"
                        },
                        "reason": {
                          "enum": [
                            "free",
                            "premium",
                            "purchased",
                            "author",
                            "locked_premium",
                            "locked_paid",
                            "unavailable"
                          ],
                          "type": "string"
                        }
                      },
                      "required": [
                        "canRead",
                        "reason"
                      ]
                    },
                    "viewer": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "favorite": {
                              "type": "boolean"
                            },
                            "followingAuthor": {
                              "type": "boolean"
                            },
                            "progress": {
                              "anyOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "status": {
                                      "enum": [
                                        "playing",
                                        "ended"
                                      ],
                                      "type": "string"
                                    },
                                    "updatedAt": {
                                      "type": "string",
                                      "format": "date-time"
                                    }
                                  },
                                  "required": [
                                    "status",
                                    "updatedAt"
                                  ]
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "endingsDiscovered": {
                              "type": "integer",
                              "minimum": -9007199254740991,
                              "maximum": 9007199254740991
                            },
                            "myRating": {
                              "anyOf": [
                                {
                                  "type": "integer",
                                  "minimum": 1,
                                  "maximum": 5
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          },
                          "required": [
                            "favorite",
                            "followingAuthor",
                            "progress",
                            "endingsDiscovered",
                            "myRating"
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "slug",
                    "title",
                    "tagline",
                    "coverUrl",
                    "genres",
                    "language",
                    "ageRating",
                    "access",
                    "priceCents",
                    "author",
                    "stats",
                    "publishedAt",
                    "synopsis",
                    "license",
                    "aiUsage",
                    "contentWarnings",
                    "tags",
                    "version",
                    "details",
                    "ratingDistribution",
                    "entitlement",
                    "viewer"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": true
                        },
                        "code": {
                          "const": "UNAUTHORIZED"
                        },
                        "status": {
                          "const": 401
                        },
                        "message": {
                          "type": "string",
                          "default": "Authentification requise"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": false
                        },
                        "code": {
                          "type": "string"
                        },
                        "status": {
                          "type": "number"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": true
                        },
                        "code": {
                          "const": "FORBIDDEN"
                        },
                        "status": {
                          "const": 403
                        },
                        "message": {
                          "type": "string",
                          "default": "Action non autorisée"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": false
                        },
                        "code": {
                          "type": "string"
                        },
                        "status": {
                          "type": "number"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": true
                        },
                        "code": {
                          "const": "NOT_FOUND"
                        },
                        "status": {
                          "const": 404
                        },
                        "message": {
                          "type": "string",
                          "default": "Ressource introuvable"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": false
                        },
                        "code": {
                          "type": "string"
                        },
                        "status": {
                          "type": "number"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "429",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": true
                        },
                        "code": {
                          "const": "TOO_MANY_REQUESTS"
                        },
                        "status": {
                          "const": 429
                        },
                        "message": {
                          "type": "string",
                          "default": "Trop de requêtes, réessayez plus tard"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": false
                        },
                        "code": {
                          "type": "string"
                        },
                        "status": {
                          "type": "number"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/authors/{handle}": {
      "get": {
        "operationId": "catalog.author",
        "summary": "Profil public d'un auteur",
        "tags": [
          "Catalogue"
        ],
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 3,
              "maxLength": 30,
              "pattern": "^[a-z0-9](?:[a-z0-9_]*[a-z0-9])?$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "handle": {
                      "type": "string",
                      "minLength": 3,
                      "maxLength": 30,
                      "pattern": "^[a-z0-9](?:[a-z0-9_]*[a-z0-9])?$"
                    },
                    "displayName": {
                      "type": "string"
                    },
                    "avatarUrl": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "bio": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "links": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "label": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string",
                            "format": "uri"
                          }
                        },
                        "required": [
                          "label",
                          "url"
                        ]
                      }
                    },
                    "joinedAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "followers": {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    },
                    "following": {
                      "type": "boolean"
                    },
                    "stories": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "slug": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 96,
                            "pattern": "^[a-z0-9]+(?:-[a-z0-9]+)*$"
                          },
                          "title": {
                            "type": "string"
                          },
                          "tagline": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "coverUrl": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "genres": {
                            "type": "array",
                            "items": {
                              "enum": [
                                "fantasy",
                                "mystery",
                                "thriller",
                                "romance",
                                "science-fiction",
                                "horror",
                                "adventure",
                                "youth",
                                "drama",
                                "historical",
                                "poetry",
                                "experimental"
                              ],
                              "type": "string"
                            }
                          },
                          "language": {
                            "type": "string"
                          },
                          "ageRating": {
                            "enum": [
                              "10",
                              "13",
                              "16",
                              "all"
                            ],
                            "type": "string"
                          },
                          "access": {
                            "enum": [
                              "free",
                              "premium",
                              "paid"
                            ],
                            "type": "string"
                          },
                          "priceCents": {
                            "anyOf": [
                              {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "author": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "handle": {
                                "type": "string",
                                "minLength": 3,
                                "maxLength": 30,
                                "pattern": "^[a-z0-9](?:[a-z0-9_]*[a-z0-9])?$"
                              },
                              "displayName": {
                                "type": "string"
                              },
                              "avatarUrl": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "handle",
                              "displayName",
                              "avatarUrl"
                            ]
                          },
                          "stats": {
                            "type": "object",
                            "properties": {
                              "rating": {
                                "anyOf": [
                                  {
                                    "type": "number",
                                    "minimum": 0,
                                    "maximum": 5
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "ratingCount": {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              },
                              "reads": {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              },
                              "endings": {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              },
                              "minutes": {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              },
                              "difficulty": {
                                "enum": [
                                  "gentle",
                                  "balanced",
                                  "challenging",
                                  "brutal"
                                ],
                                "type": "string"
                              }
                            },
                            "required": [
                              "rating",
                              "ratingCount",
                              "reads",
                              "endings",
                              "minutes",
                              "difficulty"
                            ]
                          },
                          "publishedAt": {
                            "anyOf": [
                              {
                                "type": "string",
                                "format": "date-time"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "slug",
                          "title",
                          "tagline",
                          "coverUrl",
                          "genres",
                          "language",
                          "ageRating",
                          "access",
                          "priceCents",
                          "author",
                          "stats",
                          "publishedAt"
                        ]
                      }
                    },
                    "totals": {
                      "type": "object",
                      "properties": {
                        "reads": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "stories": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        }
                      },
                      "required": [
                        "reads",
                        "stories"
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "handle",
                    "displayName",
                    "avatarUrl",
                    "bio",
                    "links",
                    "joinedAt",
                    "followers",
                    "following",
                    "stories",
                    "totals"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": true
                        },
                        "code": {
                          "const": "UNAUTHORIZED"
                        },
                        "status": {
                          "const": 401
                        },
                        "message": {
                          "type": "string",
                          "default": "Authentification requise"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": false
                        },
                        "code": {
                          "type": "string"
                        },
                        "status": {
                          "type": "number"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "403",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": true
                        },
                        "code": {
                          "const": "FORBIDDEN"
                        },
                        "status": {
                          "const": 403
                        },
                        "message": {
                          "type": "string",
                          "default": "Action non autorisée"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": false
                        },
                        "code": {
                          "type": "string"
                        },
                        "status": {
                          "type": "number"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": true
                        },
                        "code": {
                          "const": "NOT_FOUND"
                        },
                        "status": {
                          "const": 404
                        },
                        "message": {
                          "type": "string",
                          "default": "Ressource introuvable"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": false
                        },
                        "code": {
                          "type": "string"
                        },
                        "status": {
                          "type": "number"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "429",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": true
                        },
                        "code": {
                          "const": "TOO_MANY_REQUESTS"
                        },
                        "status": {
                          "const": 429
                        },
                        "message": {
                          "type": "string",
                          "default": "Trop de requêtes, réessayez plus tard"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "defined": {
                          "const": false
                        },
                        "code": {
                          "type": "string"
                        },
                        "status": {
                          "type": "number"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      },
                      "required": [
                        "defined",
                        "code",
                        "status",
                        "message"
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/reading/{slug}": {
      "get": {
        "operationId": "reading.open",
        "summary": "Ouvrir un récit (document + sauvegardes)",
        "tags": [
          "Lecture"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 96,
              "pattern": "^[a-z0-9]+(?:-[a-z0-9]+)*$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "storyId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "slug": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 96,
                      "pattern": "^[a-z0-9]+(?:-[a-z0-9]+)*$"
                    },
                    "title": {
                      "type": "string"
                    },
                    "coverUrl": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "author": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "handle": {
                          "type": "string",
                          "minLength": 3,
                          "maxLength": 30,
                          "pattern": "^[a-z0-9](?:[a-z0-9_]*[a-z0-9])?$"
                        },
                        "displayName": {
                          "type": "string"
                        },
                        "avatarUrl": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "handle",
                        "displayName",
                        "avatarUrl"
                      ]
                    },
                    "version": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "number": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "publishedAt": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "number",
                        "publishedAt"
                      ]
                    },
                    "document": {
                      "type": "object",
                      "properties": {
                        "format": {
                          "const": "dedale-story",
                          "default": "dedale-story"
                        },
                        "formatVersion": {
                          "const": 1,
                          "default": 1
                        },
                        "title": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 120
                        },
                        "language": {
                          "type": "string",
                          "minLength": 2,
                          "maxLength": 12,
                          "default": "fr"
                        },
                        "start": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 64,
                          "pattern": "^[A-Za-z_][A-Za-z0-9_-]*$"
                        },
                        "variables": {
                          "type": "array",
                          "maxItems": 100,
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "minLength": 1,
                                "maxLength": 64,
                                "pattern": "^[A-Za-z_][A-Za-z0-9_]*$"
                              },
                              "name": {
                                "type": "string",
                                "minLength": 1,
                                "maxLength": 60
                              },
                              "type": {
                                "enum": [
                                  "number",
[...]
